In [37]:
# read data from csv file CS361_CourseDev_Trend\HW1.csv
import pandas as pd
import numpy as np

data_total = {}
for i in range(1, 11):
    df = pd.read_csv(f'CS361_CourseDev_Trend\HW{i}.csv')
    # clean data with Total Score <= 1
    df = df[df['Total Score'] > 1]
    # create new column where all element is i
    df['HW'] = i
    # only keep columns we need "randNumCol", "Total Score", "HW"
    df = df[["randNumCol", "Total Score", "HW"]]
    data_total[i] = df
    # save to csv file
    df.to_csv(f'CS361_CourseDev_Trend\HW{i}_clean.csv')
    print(i, df['Total Score'].mean())

1 40.35851648351648
2 45.09180790960452
3 45.74495677233429
4 45.81586826347306
5 45.882183908045974
6 45.886792452830186
7 44.97173144876325
8 44.52029520295203
9 44.95871559633027
10 50.619496855345915

In [14]:
df = pd.read_csv(f'CS361_CourseDev_Trend\midterm1.csv')
df.describe()

,randNumCol,Total Score,Max Points,View Count,Submission Count,1: Q1 (20.0 pts),2.1: 1 (15.0 pts),2.2: 2 (20.0 pts),3.1: 1 (10.0 pts),3.2: 2 (10.0 pts),3.3: 3 (10.0 pts),4.1 (35.0 pts),5: Q5 (30.0 pts)
count,3.400000e+02,340.000000,340.0,340.000000,340.000000,340.000000,340.000000,340.000000,340.000000,340.000000,340.000000,340.000000,340.000000
mean,5.740843e+08,118.310294,150.0,3.823529,1.132353,14.441176,14.650000,15.626471,9.450000,9.126471,7.291176,24.045588,23.679412
std,2.662067e+08,25.595014,0.0,3.307010,0.364518,4.557668,1.610575,5.171844,1.559205,1.802622,3.057065,10.279938,7.638216
min,1.025096e+08,25.000000,150.0,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.385806e+08,108.000000,150.0,2.000000,1.000000,12.000000,15.000000,12.750000,10.000000,9.000000,6.000000,19.000000,22.000000
50%,5.868485e+08,125.750000,150.0,3.000000,1.000000,16.000000,15.000000,18.000000,10.000000,10.000000,8.000000,28.000000,26.000000
75%,8.087654e+08,137.000000,150.0,5.000000,1.000000,18.000000,15.000000,20.000000,10.000000,10.000000,10.000000,31.500000,29.000000
max,9.986507e+08,150.000000,150.0,19.000000,3.000000,20.000000,15.000000,20.000000,10.000000,10.000000,10.000000,35.000000,30.000000

In [29]:
# join d1 and d2 with inner join on 'randNumCol'
# df = data_total[1]
# for i in range(2, 11):
#     df = pd.merge(df, data_total[i], on='randNumCol', how='inner')

tmp = pd.merge(data_total[1], data_total[2], on='randNumCol', how='inner')
tmp.describe()
# data_total[1].describe()
# data_total[2].describe()

,randNumCol,Total Score_x,Max Points_x,View Count_x,Submission Count_x,1: Q1 (10.0 pts)_x,2: Q2 (10.0 pts)_x,3: Q3 (10.0 pts)_x,4: Q4 (10.0 pts)_x,5: Q5 (10.0 pts)_x,...,Max Points_y,View Count_y,Submission Count_y,1: Q1 (10.0 pts)_y,2: Q2 (10.0 pts)_y,3: Q3 (10.0 pts)_y,4: Q4 (10.0 pts)_y,5: Q5 (10.0 pts)_y,6: Q6 (2.0 pts),HW_y
count,4.580000e+02,458.000000,458.0,458.000000,458.000000,458.000000,458.000000,458.000000,458.000000,458.000000,...,458.0,458.000000,458.000000,458.000000,458.000000,458.000000,458.000000,458.000000,458.000000,458.0
mean,5.871233e+08,36.282751,55.0,6.128821,1.237991,8.082969,7.342795,7.022926,6.349345,6.775109,...,52.0,7.851528,1.399563,9.600437,9.373362,8.817686,7.491266,7.746725,0.816594,2.0
std,2.700472e+08,14.807417,0.0,7.519981,0.597330,2.987519,3.660267,3.364933,3.523011,3.763186,...,0.0,12.367628,0.664643,1.511357,1.913419,3.076354,3.036959,2.752608,0.975178,0.0
min,1.025096e+08,3.000000,55.0,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,52.0,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.0
25%,3.604180e+08,29.500000,55.0,2.000000,1.000000,7.000000,5.000000,6.000000,4.000000,6.000000,...,52.0,1.000000,1.000000,10.000000,10.000000,10.000000,6.125000,8.000000,0.000000,2.0
50%,6.012131e+08,43.000000,55.0,3.000000,1.000000,10.000000,10.000000,8.000000,6.000000,9.000000,...,52.0,3.000000,1.000000,10.000000,10.000000,10.000000,8.000000,9.000000,0.000000,2.0
75%,8.180988e+08,47.000000,55.0,8.000000,1.000000,10.000000,10.000000,10.000000,9.000000,9.000000,...,52.0,5.000000,2.000000,10.000000,10.000000,10.000000,10.000000,9.000000,2.000000,2.0
max,9.986507e+08,55.000000,55.0,98.000000,5.000000,10.000000,10.000000,10.000000,10.000000,10.000000,...,52.0,43.000000,6.000000,10.000000,10.000000,10.000000,10.000000,10.000000,2.000000,2.0

In [3]:
# read data from csv file CS361_CourseDev_Trend\HW1.csv
import pandas as pd
import numpy as np

# create a dataframe to store all students' Homework scores and midterm1 score
# Now we have data_total= {1: df1, 2: df2, ..., 10: df10, 'mid1': df_mid1}
# for each df, we have columns: randNumCol, Total Score
# we want to have a dataframe with columns: randNumCol, HW1, HW2, ..., HW10, mid1
# ranNumCol should be the unique key

# create a datafame
data_total = pd.DataFrame()

# read midterm1.csv
df_mid1 = pd.read_csv(f'CS361_CourseDev_Trend\midterm1.csv')
df_mid1 = df_mid1[df_mid1['Total Score'] > 1]
df_mid1 = df_mid1[["randNumCol", "Total Score"]]
df_mid1.columns = ["randNumCol", "mid1"]
# add "randNumCol", "mid1" to data_total
data_total = df_mid1 
# add HW1, HW2, ..., HW10 colomn to data_total and the value is zero
# for i in range(1, 11):
#     data_total[f"HW{i}"] = 0

# for i in range(1, 11):
#     df = pd.read_csv(f'CS361_CourseDev_Trend\HW{i}.csv')
#     df = df[["randNumCol", "Total Score"]]
    
#     # rename the columns of the dataframe
#     df.columns = ["randNumCol", f"HW{i}"]
    
#     # merge this dataframe with data_total on "randNumCol"
#     data_total = pd.merge(data_total, df, on="randNumCol", how="left")

# # Fill NaN values with 0 if there are any after merging
# data_total.fillna(0, inplace=True)

In [4]:
# data_total.describe()
for i in range(1, 11):
    df = pd.read_csv(f'CS361_CourseDev_Trend\HW{i}_clean.csv')
    df = df[["randNumCol", "Total Score"]]
    # only keep one row for each randNumCol
    df = df.groupby("randNumCol").mean().reset_index()
    # rename the columns of the dataframe
    df.columns = ["randNumCol", f"HW{i}"]

    # merge this dataframe with data_total on "randNumCol"
    # directly let HW1 = df["HW1"] where randNumCol is the same
    data_total = pd.merge(data_total, df, on="randNumCol", how="left")
# save to csv file
data_total.to_csv(f'CS361_CourseDev_Trend\data_total.csv')

In [5]:
data_total.describe()

,randNumCol,mid1,HW1,HW2,HW3,HW4,HW5,HW6,HW7,HW8,HW9,HW10
count,3.400000e+02,340.000000,328.000000,332.000000,327.000000,329.000000,329.000000,321.000000,273.000000,259.000000,209.000000,153.000000
mean,5.740843e+08,118.310294,41.274085,45.320030,45.803517,45.469605,45.954407,46.038941,45.001832,44.482625,44.923445,50.696078
std,2.662067e+08,25.595014,9.931242,6.873657,6.563152,7.741084,6.300120,5.299547,6.599005,7.302615,7.709502,6.752676
min,1.025096e+08,25.000000,9.000000,7.000000,4.000000,10.000000,2.000000,13.000000,18.000000,3.000000,2.000000,10.000000
25%,3.385806e+08,108.000000,37.000000,43.000000,42.500000,42.000000,45.000000,44.000000,43.000000,42.000000,44.000000,50.000000
50%,5.868485e+08,125.750000,45.000000,47.750000,47.000000,48.500000,48.000000,48.000000,48.000000,46.000000,47.000000,51.000000
75%,8.087654e+08,137.000000,48.000000,49.000000,50.000000,50.500000,50.000000,50.000000,50.000000,49.000000,50.000000,55.000000
max,9.986507e+08,150.000000,55.000000,52.000000,53.000000,52.000000,52.000000,52.000000,52.000000,53.000000,53.000000,55.000000